{% block content %}

{% if form.errors %}
<p>username이나 비밀번호가 틀립니다. </p>
{% endif %}

<form method = "post" action = "{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr>
	<td>{{ form.username.label_tag }}</td>
	<td>{{ form.username }}</td>
</tr>
<tr>
	<td>{{ form.password.label_tag }}</td>
	<td>{{ form.password }}</td>
</tr>
</table>

<input type = "submit" value="login" />
<input type = "hidden" name = "next" value = "{{ next }}" />
</form>

{% endblock %}

